{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    // TODO: remove this override
    "@typescript-eslint/no-explicit-any": "off"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  }
}
